build/

*.pro.user
*.qmake.stasho

*~

git_uploader.sh
build/
cmake-build-*/
CMakeChache.txt
Makefile
*.o
moc_*
ui_*
*.user
*.qmake.stash
*.qm
face_doorlock

CHANGELOG.md
assert/face_images/*
assert/face_model.yml
assert/label.txt
assert/db/doorlock.db

